<div class="col-md-12">
  <h2>Weclome !</h2>
  <hr>

  <div class="col-md-8 text-center">
    <img src="https://raw.githubusercontent.com/frsnic/T-laundry/master/erd.png" style="width: 100%;">
  </div>
  <div class="col-md-4">
    <h2>User</h2>
    <ul>
      <li>Admin
        <ul>
          <li>Admin (admin@gmail.com, adminadmin) , no group, no store</li>
        </ul>
      </li>
      <li>Group Manager
        <ul>
          <li>Chuck (chuck@gmail.com, chuckchuck), Chuck Group, no store</li>
          <li>No Group (no_group@gmail.com, no_groupno_group), no group, no store</li>
        </ul>
      </li>
      <li>Store Manager
        <ul>
          <li>Sarah (sarah@gmail.com, sarahsarah), no group, Sarah Store</li>
          <li>No Store (no_store@gmail.com, no_storeno_store), no group, no store</li>
        </ul>
      </li>
      <li>Client
        <ul>
          <li>Client (client@gmail.com, clientclient), no group, no store</li>
        </ul>
      </li>
    </ul>

    <h2>Group List</h2>
    <ul>
      <li>Chuck Group
        <ul>
          <li>has Sarah Store</li>
        </ul>
      </li>
    </ul>
  </div>

</div>
