<div class="col-md-offset-1 col-md-10">
  <h2>Welcome !</h2>
  <hr>

  <div class="col-md-4">
    <h2>About</h2>
    <h4>It's a laundry order control system.</h4>
  </div>
  <div class="col-md-3">
    <h2>Group List</h2>
    <ul>
      <li>Chuck Group
        <ul>
          <li>has Sarah Store</li>
          <li>has Casey Store</li>
        </ul>
      </li>
      <li>Morgan Group
        <ul>
          <li>no stores</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-5">
    <h2>User</h2>
    <ul>
      <li>Admin
        <ul>
          <li>Admin (admin@gmail.com, adminadmin) , no group, no store</li>
        </ul>
      </li>
      <li>Group Manager
        <ul>
          <li>Chuck  (chuck@gmail.com, chuckchuck), Chuck Group</li>
          <li>Morgan (morgan@gmail.com, morganmorgan), Morgan Group</li>
          <li>No Group (no_group@gmail.com, no_groupno_group), no group</li>
        </ul>
      </li>
      <li>Store Manager
        <ul>
          <li>Sarah (sarah@gmail.com, sarahsarah), Sarah Store</li>
          <li>Casey (casey@gmail.com, caseycasey), Casey Store</li>
          <li>No Store (no_store@gmail.com, no_storeno_store), no store</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="col-md-12 text-center">
    <hr>
    <img src="https://raw.githubusercontent.com/frsnic/T-laundry/master/erd.png" style="width: 100%;">
  </div>
</div>
