<div class="col-md-12">
  <div class="store">
    <% if policy(:store).group_manager? %>
      <%# link_to("Delete", group_store_path(@group, @store), class: "btn btn-danger pull-right", method: :delete, data: { confirm: "Are you sure?" } )%>
    <% end %>
    <%# link_to("Edit", edit_group_store_path(@group, @store), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @manager.name %></h2>
</div>
